{% extends 'layout.html' %}

{% block title  %}  {{title + " "+ url}} {% endblock %}

{% block head %}
{{title}}

{% endblock %}

{% block content %}
    <div id="menu" class="rowFull">
        <div id="menuLeft">
            <a href="https://www.zhongan.io/" id="menuLeftImg"><img src="/img/logo.png"></a>
            <div id="menuLeftTitle"><a href="https://www.zhongan.io/">OG visualizer  {{ url }}</a></div>
            <!-- <div id="menuInput" class="search bar7">
                    <form action="javascript:searchForm($('#inputSearch').val())" method="post">
                        <input type="text" id="inputSearch" placeholder="Search for unit or address">
                        <button type="submit" id="submitSearch"></button>
                    </form>
            </div> -->
            <div id="menuRight">
                <a id="menuLeftImg" href="https://github.com/annchain/OG" ><img src="/img/git.png"></a>
                <a id="menuLeftImg" href="https://github.com/annchain/OG" ><img src="/img/re.png"></a>
                <a id="menuLeftImg" href="https://www.google.com" ><img src="/img/google.png"></a>
                <!-- <a id="menuLeftImg" href="https://slack.com/" ><img src="/img/Slack_Mark.svg"></a>  -->
                <a id="menuLeftImg" href="https://facebook.com/" ><img src="/img/face.png"></a>
                <a id="menuLeftImg" href="https://twitter.com/" ><img src="/img/tw.png"></a>
                <a id="menuLeftImg" href="https://twitter.com/" ><img src="/img/email.png"></a>
                <a id="menuLeftImg" href="https://www.google.com" ><img src="/img/share.png"></a>
            </div>
            <div id="menuInput" class="search bar7">
                <form action="javascript:searchForm($('#inputSearch').val())" method="post">
                    <input type="text" id="inputSearch" placeholder="Search for unit or address">
                    <input type="submit" value="" id="submitSearch">
                </form>
            </div>
        </div>
    </div>
    <div id="infoMessage" onclick="hideInfoMessage()">InfoMessage</div>
    <div id="cy"></div>
    <div id="annotation"></div>
    <div id="goToTop" onclick="goToTop()">
        <div id="titleGoToTop">Go to top</div>
    </div>
    <div id="labelSwitcher" class="switch switch-large" onclick="labelSwitcher()">
        <input type="checkbox" checked />
        <div id="titlelabelSwitcher">show / hide label</div>
    </div>
    <!-- <div id="start" onclick="start()">
            <div id="titleStart">Start</div>
    </div>
    <div id="pause" onclick="pause()">
            <div id="titlePause">Pause</div>
    </div> -->
    <div id="plus" onclick="plus()">
    </div>
    <div id="minus" onclick="minus()">
    </div>
    <div id="scroll">
        <div id="scrollBody">&nbsp;</div>
    </div>
    <div id="info" class="hideInfoBlock">
        <div id="infoClose"><a href="javascript:" onclick="closeInfo()">Close</a></div>
        <!-- <div id="defaultInfo">Select unit on the right</div> -->
        <div id="defaultInfo">Transaction info</div>
        <div id="listInfo">
            <div>
                <div id="unitParent">Unit <span id="unit"></span></div>
            </div>
            <!-- <div>
                <div style="padding-left: 5px">Received: <span id="received"></span></div>
            </div> -->
            <div>
                <div class="infoTitle" onclick="showHideBlock(event, 'From')">From
                    <div class="infoTitleImg"></div>
                </div>
                <div id="From"></div>
            </div>
            <div>
                <div class="infoTitle" onclick="showHideBlock(event, 'To')">To
                    <div class="infoTitleImg"></div>
                </div>
                <div id="To"></div>
            </div>
            <div>
                <div class="infoTitle" onclick="showHideBlock(event, 'Value')">Value
                    <div class="infoTitleImg"></div>
                </div>
                <div id="Value"></div>
            </div>
            <div>
                <div class="infoTitle" onclick="showHideBlock(event, 'Parents')">Parents
                    <div class="infoTitleImg"></div>
                </div>
                <div id="Parents"></div>
            </div>
            <div>
                <div class="infoTitle" id="divTitleMessage" onclick="showHideBlock(event, 'Signature')">Signature
                    <div class="infoTitleImg"></div>
                </div>
                <div id="Signature"></div>
            </div>
            <!-- <div>
                <div class="infoTitle hideTitle" id="witnessesTitle" onclick="showHideBlock(event, 'witnesses')">
                    Witnesses
                    <div class="infoTitleImg"></div>
                </div>
                <div id="witnesses" style="display: none"></div>
            </div> -->
            <div>
                <div class="infoTitle" onclick="showHideBlock(event, 'otherInfo')">Technical information
                    <div class="infoTitleImg"></div>
                </div>
                <div id="otherInfo">
                    <div>AccountNonce: <span id="AccountNonce"></span></div>
                    <div>Height: <span id="Height"></span></div>
                    <div>MineNonce: <span id="MineNonce"></span></div>
                    <div>Type: <span id="Type"></span></div>
                    <!-- <div>Value: <span id="Value"></span></div> -->
                    <!-- <div>Latest included mc index: <span id="latest_included_mc_index"></span></div>
                    <div>Is stable: <span id="is_stable"></span></div> -->
                </div>
            </div>
        </div>
    </div>
    <div id="addressInfo">
        <div id="addressClose" class="row"><a href="javascript:" onclick="closeAddress()">Close</a></div>
        <div class="row" id="infoAndBalanceAddress">
            <div style="margin-bottom: 10px;font-weight: bold">
                <div><span id="address"></span></div>
            </div>
            <div>
                <div id="balance"></div>
            </div>
            <div class="infoTitle hideTitle" id="definitionTitleInAddress" onclick="showHideBlock(event, 'definition')" style="display: none">
                Definition
                <div class="infoTitleImg"></div>
            </div>
            <div id="definition" style="display: none"></div>
        </div>
        <div class="row" id="blockListUnspent" style="margin-top: 50px">
            <div class="infoTitle" onclick="showHideBlock(event, 'listUnspent')">
                Unspent
                <div class="infoTitleImg"></div>
            </div>
            <div id="listUnspent"></div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="infoTitle" id="titleListTransactions" style="display: none" onclick="showHideBlock(event, 'tableListTransactions')">
                Transactions
                <div class="infoTitleImg"></div>
            </div>
            <table id="tableListTransactions">
                <tbody id="listUnits"></tbody>
            </table>
        </div>
    </div>
{% endblock %}