<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>{% block title %}{% endblock %}</title>
	<meta charset='utf-8' />
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	{% block style %} {% endblock %}
	<script type="text/javascript">
        var url = "{{ url }}";
	</script>
</head>
<body>
	<script type="text/javascript" src="js/domain/config.js"></script>
	<script type="text/javascript" src='js/lib/jquery-2.1.4.min.js'></script>	
	<script type="text/javascript" src='js/lib/socket.io.js'></script>
	<script type="text/javascript" src="js/lib/cytoscape.min.js"></script>
	<script type="text/javascript" src="js/lib/dagre.min.js"></script>
	<script type="text/javascript" src='js/app.js'></script>
	{% block content %}{% endblock %}
</body>
</html>