<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>{% block title %}{% endblock %}</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	{% block style %}
	{% endblock %}
</head>
<body>
	<script type="text/javascript" src='js/socket.io.js'></script>
	<script type="text/javascript" src="js/cytoscape.min.js"></script>
	<script type="text/javascript" src="js/dagre.min.js"></script>
	<script type="text/javascript" src='js/app.js'></script>
	{% block content %}{% endblock %}
</body>
</html>